<p style="color: green"><%= notice %></p>

<%= render @message %>

<div>
  <%= link_to "Edit this message", edit_room_message_path(@message) %> |
  <%= link_to "Back to messages", room_messages_path %>

  <%= button_to "Destroy this message", [@room, @message], method: :delete %>
</div>
